<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <div id = "header">
            <a href="../professional_profile">My Profile</a>
            <a href="../logout">Logout</a>
        </div>
        <h1>@ViewBag.user.firstname @ViewBag.user.lastname</h1>
        <p>Description: @ViewBag.user.description</p>
    </body>
</html>